body {
    background-color: #e8fff1;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

form {
    margin: 20px;
}

input[type="file"] {
    padding: 10px;
    background: white;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.result {
    margin-top: 30px;
    background: #fff;
    padding: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.disease {
    color: red;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}
